@import url(reset);
html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45.35px;
  background-color: #f6f7ff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 1110px;
  height: 45.35px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 104px;
}
.header .header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 433px;
  height: 19px;
  font-family: "Open Sans", sans-serif;
}
.header .header-navigaton__tab {
  color: #272323;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.header .header-navigaton__tab:hover {
  color: #4238af;
}
.header .header-search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 307px;
  height: 35px;
}
.header .header-search__input {
  border: none;
  border-radius: 50px;
  width: 100%;
  padding-left: 20px;
}
.header .header-search__button {
  position: absolute;
  top: 10px;
  left: 280px;
}
.header .header-authentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Open Sans", sans-serif;
  width: 117px;
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.header .header-authentication__tab {
  color: #272323;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header .header-authentication__tab:hover {
  color: #4238af;
}

.section-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 647px;
  background-color: #f6f7ff;
}
.section-welcome .section-welcome__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}
.section-welcome .section-welcome__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 543px;
  height: 328px;
  margin-top: 150px;
}
.section-welcome .section-welcome__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #272323;
}
.section-welcome .section-welcome__title {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 55px;
}
.section-welcome .section-welcome__title-detail {
  color: #ff5c01;
  margin: 0;
  width: 100%;
}
.section-welcome .section-welcome__subtitle {
  color: #a8a8a8;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.section-welcome .section-welcome__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 337px;
  height: 44px;
}
.section-welcome .section-welcome__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 155px;
  height: 100%;
}
.section-welcome .section-welcome__button-detail:hover {
  background-color: #4238af;
}
.section-welcome .section-welcome__button-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 100%;
  background-color: #544cac;
  color: #ffffff;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 62px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.section-welcome .section-welcome__button-detail:hover {
  background-color: #4238af;
}
.section-welcome .section-welcome_button-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px #a8a8a8 solid;
  border-radius: 6px;
  width: 143px;
  height: 100%;
}
.section-welcome .section-welcome__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-decoration: none;
  color: #272323;
}
.section-welcome .section-welcome__button-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 62px;
}
.section-welcome .section-welcome__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.section-logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  height: 150px;
}
.section-logotype .section-logotype__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1110px;
  height: 114px;
  margin: 0 auto;
  margin-top: 18px;
}

.section-process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  background-color: #ffffff;
}
.section-process .section-process__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin: 0 auto;
  width: 1110px;
  height: 470px;
  margin-top: 65px;
}
.section-process .section-process__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 435px;
  height: 100%;
}
.section-process .section-process__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 635px;
  height: 423px;
}
.section-process .section-process__subtitle {
  color: #ff5c01;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 50px;
}
.section-process .section-process__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}
.section-process .section-process__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 435px;
  height: 58px;
  background-color: #f6f7ff;
  border-radius: 8px;
}
.section-process .section-process__unfolded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 435px;
  height: 134px;
  background-color: #f6f7ff;
  border-radius: 8px;
}
.section-process .section-process__card-number-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #f3e0ff;
  color: #9443ca;
  border-radius: 6px;
  margin: 0 15px 0 15px;
}
.section-process .section-process__unfolded-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-process .section-process__card-number-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6eafe;
  color: #636eff;
  border-radius: 6px;
  margin: 0 15px 0 15px;
}
.section-process .section-process__card-number-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffdecc;
  color: #ff5c01;
  border-radius: 6px;
  margin: 0 15px 0 15px;
}
.section-process .section-process__card-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
}
.section-process .section-process__icon-one {
  margin-left: 200px;
}
.section-process .section-process__icon-two {
  margin-left: 197px;
}
.section-process .section-process__icon-third {
  margin-left: 260px;
}
.section-process .section-process__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #a8a8a8;
  width: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}
.section-process .section-process__image {
  border-radius: 20px;
}

.section-advantages {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}
.section-advantages .section-advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1140px;
  height: 431px;
  margin: 0 auto;
  margin-top: 84.5px;
}
.section-advantages .section-advantages__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 543px;
  height: 120px;
}
.section-advantages .section-advantages__header-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}
.section-advantages .section-advantages__header-subtitle {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #a8a8a8;
}
.section-advantages .section-advantages__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  height: 274px;
  width: 1140px;
}
.section-advantages .section-advantages__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 350px;
  height: 254px;
  -webkit-box-shadow: 1px 1px 20px 0px rgba(128, 128, 128, 0.1);
          box-shadow: 1px 1px 20px 0px rgba(128, 128, 128, 0.1);
  border-radius: 20px;
}
.section-advantages .section-advantages__card-selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 350px;
  height: 254px;
  background-color: #f9faff;
  -webkit-box-shadow: 1px 1px 20px 0px rgba(128, 128, 128, 0.1);
          box-shadow: 1px 1px 20px 0px rgba(128, 128, 128, 0.1);
  border-radius: 20px;
  margin-bottom: 20px;
}
.section-advantages .section-advantages__icon {
  width: 34.41px;
  height: 34.41px;
}
.section-advantages .section-advantages__icon-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6156dd;
  border-radius: 7px;
  width: 60px;
  height: 60px;
}
.section-advantages .section-advantages__icon-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  background-color: #ef6111;
  border-radius: 7px;
}
.section-advantages .section-advantages__icon-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  background-color: #a73fed;
  border-radius: 7px;
}
.section-advantages .section-advantages__card-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.section-advantages .section-advantages__card-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #a8a8a8;
}
.section-advantages .section-advantages__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 276px;
  height: 179px;
  margin: 0 auto;
}

.section-jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1000px;
  background-color: #ffffff;
}
.section-jobs .section-jobs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1461px;
  height: 787px;
  margin-top: 106.5px;
}
.section-jobs .section-jobs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 543px;
  height: 117px;
}
.section-jobs .section-jobs__header-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}
.section-jobs .section-jobs__header-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #a8a8a8;
  text-align: center;
}
.section-jobs .section-jobs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.section-jobs .section-jobs__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px;
}
.section-jobs .section-jobs__card-selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9faff;
  width: 380px;
  height: 465px;
  -webkit-box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
          box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
  border-radius: 20px;
  margin-bottom: 20px;
}
.section-jobs .section-jobs__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9faff;
  width: 380px;
  height: 465px;
  -webkit-box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
          box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
  border-radius: 20px;
  background-color: #ffffff;
}
.section-jobs .section-jobs__card-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 250px;
  height: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.section-jobs .section-jobs__card-options-tab {
  text-decoration: none;
  color: #272323;
  font-size: 40px;
}
.section-jobs .section-jobs__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  height: 371px;
}
.section-jobs .section-jobs__initials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}
.section-jobs .section-jobs__initials-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
}
.section-jobs .section-jobs__initials-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #4238af;
}
.section-jobs .section-jobs__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 230px;
  height: 60px;
}
.section-jobs .section-jobs__info-salary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.section-jobs .section-jobs__info-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
}
.section-jobs .section-jobs__info-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.section-jobs .section-jobs__info-text-details {
  color: #a8a8a8;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 50px;
}
.section-jobs .section-jobs__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  height: 49px;
}
.section-jobs .section-jobs__tab-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 152px;
  height: 49px;
  background-color: #bdbbd9;
  border-radius: 47px;
  text-decoration: none;
  color: #544cac;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 62px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.section-jobs .section-jobs__tab-right:hover {
  background-color: #544cac;
  color: #ffffff;
}
.section-jobs .section-jobs__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 152px;
  height: 49px;
  background-color: #544cac;
  border-radius: 47px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 62px;
}
.section-jobs .section-jobs__card:last-child {
  overflow: hidden;
}

.section-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  background-color: #ffffff;
}
.section-feedback .section-feedback__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 512px;
  margin: 0 auto;
  margin-top: 44px;
}
.section-feedback .section-feedback__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 543px;
  height: 100px;
}
.section-feedback .section-feedback__header-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}
.section-feedback .section-feedback__header-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #a8a8a8;
}
.section-feedback .section-feedback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1110px;
}
.section-feedback .section-feedback__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 350px;
  height: 350px;
}
.section-feedback .section-feedback__image-details {
  position: absolute;
  left: 60px;
}
.section-feedback .section-feedback__image-detail {
  top: 270px;
  position: absolute;
}
.section-feedback .section-feedback__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 731px;
  height: 281px;
}
.section-feedback .section-feedback__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-feedback .section-feedback__heading-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.section-feedback .section-feedback__heading-subtitle {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #a8a8a8;
}
.section-feedback .section-feedback__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
}
.section-feedback .section-feedback__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 99px;
}
.section-feedback .section-feedback__text-details {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #a8a8a8;
}
.section-feedback .section-feedback__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  background-color: #ffffff;
}
.section-statistics .section-statistics__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1110px;
  height: 229px;
  background-color: #ced5f4;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 60.5px;
}
.section-statistics .section-statistics__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 863px;
  height: 81px;
}
.section-statistics .section-statistics__metrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-statistics .section-statistics__title {
  color: #584ec6;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}
.section-statistics .section-statistics__subtitle {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.section-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 900px;
  background-color: #ffffff;
}
.section-price .section-price__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 1110px;
  height: 729px;
  margin-top: 85.5px;
}
.section-price .section-price__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 543px;
  height: 120px;
}
.section-price .section-price__header-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #272323;
}
.section-price .section-price__header-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #a8a8a8;
}
.section-price .section-price__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 370px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.section-price .section-price__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  height: 537px;
  background-color: #ffffff;
  -webkit-box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
          box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
  border-radius: 20px;
}
.section-price .section-price__card-selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  height: 537px;
  background-color: #f9faff;
  -webkit-box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
          box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
  border-radius: 20px;
  margin-bottom: 20px;
}
.section-price .section-price__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 219px;
  height: 412px;
}
.section-price .section-price__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 140px;
}
.section-price .section-price__label-details {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #4238af;
}
.section-price .section-price__cost-details {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 45px;
  line-height: 55px;
}
.section-price .section-price__period-details {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a8a8a8;
}
.section-price .section-price__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 194px;
  width: 100%;
}
.section-price .section-price__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 104px;
  width: 100%;
}
.section-price .section-price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-price .section-price__item-details {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #a8a8a8;
  margin-left: 10px;
}
.section-price .section-price__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-price .section-price__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 172px;
  height: 43px;
  background-color: #bdbbd9;
  border-radius: 50px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-weight: 400;
  font-size: 16px;
  line-height: 62px;
}
.section-price .section-price__button:hover {
  background-color: #544cac;
}

.section-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background-color: #dbe1ff;
  height: 425px;
  border-radius: 30px 30px 0 0;
}
.section-footer .section-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 1110px;
  height: 300px;
}
.section-footer .section-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 163px;
}
.section-footer .section-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-footer .section-footer__item-title {
  text-decoration: none;
  color: #272323;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 10px;
}
.section-footer .section-footer__item {
  text-decoration: none;
  color: #a8a8a8;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.section-footer .section-footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 60px;
  width: 1110px;
}
.section-footer .section-footer__line {
  width: 1110px;
  height: 2px;
  border-radius: 2px;
  background-color: #625bae;
}
.section-footer .section-footer__navigations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-footer .section-footer__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 601px;
  height: 19px;
}
.section-footer .section-footer__tab {
  text-decoration: none;
  color: #272323;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 26px;
}
.section-footer .section-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 142px;
  height: 30px;
}
.section-footer .section-footer__socials-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29px;
  height: 29px;
  background-color: #ffffff;
  border-radius: 50px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.section-footer .section-footer__socials-tab:hover {
  background-color: #5f59be;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  body {
    background-color: red;
  }
  .header {
    height: 250px;
    width: 100%;
    position: static;
  }
  .header .header-content {
    width: 310px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 230px;
  }
  .header .header-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
  }
  .header .header-search {
    display: none;
  }
  .section-welcome {
    height: 900px;
  }
  .section-welcome .section-welcome__content {
    height: 900px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-welcome .section-welcome__image {
    width: 300px;
  }
  .section-welcome .section-welcome__info {
    margin-top: 50px;
    width: 310px;
    text-align: center;
    height: 550px;
  }
  .section-welcome .section-welcome__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-welcome .section-welcome__button {
    height: 44px;
  }
  .section-welcome .section-welcome_button-right {
    height: 44px;
  }
  .section-logotype {
    height: 800px;
  }
  .section-logotype .section-logotype__icons {
    height: 750px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-process .section-process__image {
    display: none;
  }
  .section-process .section-process__content, .section-process .section-process__information {
    width: 310px;
  }
  .section-process .section-process__card {
    width: 310px;
  }
  .section-process .section-process__icon-one {
    margin-left: 100px;
  }
  .section-process .section-process__unfolded {
    width: 310px;
  }
  .section-process .section-process__icon-two {
    margin-left: 95px;
  }
  .section-process .section-process__text {
    width: 290px;
    font-size: 8px;
  }
  .section-process .section-process__icon-third {
    margin-left: 155px;
  }
  .section-advantages {
    height: 1200px;
  }
  .section-advantages .section-advantages__content {
    margin: 0;
    width: 310px;
    margin: 0 auto;
    height: 1000px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .section-advantages .section-advantages__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 310px;
    height: 800px;
  }
  .section-advantages .section-advantages__card-selected {
    margin-bottom: 0;
  }
  .section-advantages .section-advantages__card {
    width: 310px;
  }
  .section-advantages .section-advantages__card-selected {
    width: 310px;
  }
  .section-advantages .section-advantages__header-subtitle {
    width: 300px;
  }
  .section-jobs {
    height: 2000px;
  }
  .section-jobs .section-jobs__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1500px;
  }
  .section-jobs .section-jobs__buttons {
    display: none;
  }
  .section-jobs .section-jobs__content {
    width: 310px;
    height: 1800px;
  }
  .section-jobs .section-jobs__header {
    width: 310px;
  }
  .section-jobs .section-jobs__card-selected {
    width: 310px;
    margin-bottom: 0;
  }
  .section-jobs .section-jobs__card {
    width: 310px;
  }
  .section-feedback {
    height: 1200px;
  }
  .section-feedback .section-feedback__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 310px;
  }
  .section-feedback .section-feedback__content {
    width: 310px;
    height: 1100px;
  }
  .section-feedback .section-feedback__header {
    width: 310px;
  }
  .section-feedback .section-feedback__info {
    width: 310px;
    height: 500px;
  }
  .section-feedback .section-feedback__text {
    height: 300px;
  }
  .section-statistics {
    height: 600px;
  }
  .section-statistics .section-statistics__container {
    width: 310px;
    height: 500px;
  }
  .section-statistics .section-statistics__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 400px;
  }
  .section-price {
    height: 2000px;
  }
  .section-price .section-price__content {
    width: 310px;
    height: 1800px;
  }
  .section-price .section-price__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 310px;
    height: 1600px;
  }
  .section-price .section-price__header {
    width: 310px;
    height: 150px;
  }
  .section-price .section-price__card {
    width: 310px;
    height: 450px;
  }
  .section-price .section-price__card-selected {
    width: 310px;
    margin-bottom: 0;
    height: 450px;
  }
  .section-footer {
    height: 1250px;
  }
  .section-footer .section-footer__content {
    width: 310px;
    height: 1200px;
  }
  .section-footer .section-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1000px;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-footer .section-footer__items {
    height: 150px;
  }
  .section-footer .section-footer__bottom {
    width: 310px;
    height: 500px;
  }
  .section-footer .section-footer__line {
    width: 310px;
  }
  .section-footer .section-footer__navigations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 300px;
  }
  .section-footer .section-footer__tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 200px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: yellow;
  }
  .header {
    width: 100%;
  }
  .header .header-navigation {
    width: 300px;
  }
  .header .header-navigaton__tab {
    font-size: 12px;
  }
  .header .header-search {
    width: 200px;
  }
  .header .header-search__button {
    left: 170px;
  }
  .header .header-authentication {
    font-size: 12px;
  }
  .section-welcome {
    height: 580px;
  }
  .section-welcome .section-welcome__image {
    width: 350px;
  }
  .section-welcome .section-welcome__info {
    width: 400px;
  }
  .section-logotype .section-logotype__icons {
    width: 750px;
  }
  .section-process {
    height: 700px;
  }
  .section-process .section-process__content {
    width: 750px;
    height: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-process .section-process__images {
    display: none;
  }
  .section-advantages {
    height: 1100px;
  }
  .section-advantages .section-advantages__content, .section-advantages .section-advantages__cards {
    width: 750px;
  }
  .section-advantages .section-advantages__content {
    height: 1000px;
  }
  .section-advantages .section-advantages__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 800px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-advantages .section-advantages__card-selected {
    margin-bottom: 0;
  }
  .section-jobs .section-jobs__content {
    width: 750px;
  }
  .section-jobs .section-jobs__card:last-child {
    display: none;
  }
  .section-jobs .section-jobs__card-selected {
    margin-bottom: 0;
  }
  .section-feedback {
    height: 900px;
  }
  .section-feedback .section-feedback__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 769px;
    height: 800px;
    margin-top: 50px;
  }
  .section-statistics .section-statistics__container {
    width: 90%;
  }
  .section-statistics .section-statistics__content {
    width: 80%;
  }
  .section-price {
    height: 2050px;
  }
  .section-price .section-price__content {
    height: 1900px;
  }
  .section-price .section-price__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1700px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-price .section-price__card-selected {
    margin-bottom: 0;
  }
  .section-footer .section-footer__container {
    width: 750px;
  }
  .section-footer .section-footer__bottom {
    width: 750px;
  }
  .section-footer .section-footer__line {
    width: 750px;
  }
  .section-footer .section-footer__item-title {
    font-size: 20px;
  }
  .section-footer .section-footer__item {
    font-size: 12px;
  }
  .section-footer .section-footer__tabs {
    width: 400px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  body {
    background-color: blue;
  }
  .header {
    width: 100%;
  }
  .header .header-navigation {
    width: 300px;
  }
  .header .header-navigaton__tab {
    font-size: 12px;
  }
  .header .header-search {
    width: 200px;
  }
  .header .header-search__button {
    left: 170px;
  }
  .header .header-authentication {
    font-size: 12px;
  }
  .section-welcome .section-welcome__info {
    width: 500px;
  }
  .section-welcome .section-welcome__image {
    width: 450px;
  }
  .section-logotype .section-logotype__icons {
    width: 90%;
  }
  .section-process .section-process__images {
    width: 450px;
    height: 350px;
  }
  .section-process .section-process__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 450px;
    height: 350px;
  }
  .section-process .section-process__content {
    width: 950px;
  }
  .section-advantages .section-advantages__card {
    width: 300px;
  }
  .section-advantages .section-advantages__card-selected {
    width: 300px;
  }
  .section-advantages .section-advantages__content, .section-advantages .section-advantages__cards {
    width: 1000px;
  }
  .section-jobs .section-jobs__card:last-child {
    display: none;
  }
  .section-jobs .section-jobs__content {
    width: 1000px;
  }
  .section-feedback .section-feedback__container {
    width: 1000px;
  }
  .section-feedback .section-feedback__info {
    width: 600px;
  }
  .section-feedback .section-feedback__text {
    height: 150px;
  }
  .section-statistics .section-statistics__container {
    width: 90%;
  }
  .section-statistics .section-statistics__content {
    width: 80%;
  }
  .section-price {
    height: 800px;
  }
  .section-price .section-price__card {
    width: 300px;
    height: 437px;
  }
  .section-price .section-price__container {
    height: 352px;
  }
  .section-price .section-price__cards {
    width: 90%;
  }
  .section-price .section-price__card-selected {
    width: 300px;
    height: 437px;
  }
  .section-price .section-price__content {
    height: 619px;
  }
  .section-footer .section-footer__container, .section-footer .section-footer__bottom, .section-footer .section-footer__line {
    width: 900px;
  }
  .section-footer .section-footer__item-title {
    font-size: 22px;
  }
  .section-footer .section-footer__item {
    font-size: 14px;
  }
  .section-footer .section-footer__tabs {
    width: 500px;
  }
}