@import url(reset);

$color1: #f6f7ff;
$color2: #272323;
$color3: #4238af;
$color4: #ff5c01;
$color5: #a8a8a8;
$color6: #544cac;


@mixin font ($w, $s, $h) {
    font-weight: $w;
    font-size: $s;
    line-height: $h;
}

body {
    background-color: $color1;
}
.header {
    display: flex;
    margin: 0 auto; 
    width: 1110px;
    height: 45.35px;
    background-color: $color1;
    .header-content {
        display: flex;
        width: 1110px;
        height: 45.35px;
        justify-content: space-around;
        align-items: center;
    }
    .header-logo {
        display: flex;
        width: 104px;
    }
    .header-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 433px;
        height: 19px;
        font-family: 'Open Sans', sans-serif;
    }
    .header-navigaton__tab {
        color: $color2;
        text-decoration: none;
        transition: color 0.3s;
        @include font (400, 14px, 24px); 
    }
    .header-navigaton__tab:hover {
        color: $color3;
    }
    .header-search {
        position: relative;
        display: flex;
        width: 307px;
        height: 35px;
    }
    .header-search__input {
        border: none;
        border-radius: 50px;
        width: 100%;
        padding-left: 20px;
    }
    .header-search__button {
        position: absolute;
        top: 10px;
        left: 280px;
    }
    .header-authentication {
        display: flex;
        justify-content: space-around;
        font-family: 'Open Sans', sans-serif;
        width: 117px;
        height: 19px;
        @include font (400, 14px, 24px);
    }
    .header-authentication__tab {
        color: $color2;
        text-decoration: none;
        transition: color 0.3s;
    }
    .header-authentication__tab:hover {
        color: $color3;
    }
}
.section-welcome {
    display: flex;
    height: 647px;
    .section-welcome__content {
        display: flex;
        margin: 0 auto;
    }
    .section-welcome__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 543px;
        height: 328px;
        margin-top: 150px;
    }
    .section-welcome__text {
        display: flex;
        flex-direction: column;
        color: $color2;
    }
    .section-welcome__title {
        font-family: 'Prompt', sans-serif;
        @include font (400, 45px, 55px);
    }
    .section-welcome__title-detail {
        color: $color4;
        margin: 0;
        width: 100%;
    }
    .section-welcome__subtitle {
        color: $color5;
        font-family: 'Open Sans', sans-serif;
        @include font(400, 14px, 24px);
    }
    .section-welcome__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 337px;
        height: 44px;
    }
    .section-welcome__button {
        display: flex;
        width: 155px;
        height: 100%;
    }
    .section-welcome__button-detail:hover {
        background-color: $color3;
    }
    .section-welcome__button-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;
        background-color: $color6;
        color: #ffffff;
        border-radius: 6px;
        font-family: 'Open Sans', sans-serif;
        @include font(400, 16px, 62px);
        transition: background-color 0.3s;
    }
    .section-welcome__button-detail:hover {
        background-color: $color3;
    }
    .section-welcome_button-right {
        display: flex;
        border: 1px $color5 solid;
        border-radius: 6px;
        width: 143px;
        height: 100%;
    }
    .section-welcome__tab {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        text-decoration: none;
        color: $color2;
    }
    .section-welcome__button-text {
        font-family: 'Open Sans', sans-serif;
        @include font(400, 16px, 62px);
    }
    .section-welcome__image {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}
.section-logotype {
    display: flex;
    background-color: #ffffff;
    height: 150px;
    
    .section-logotype__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1110px;
        height: 114px;
        margin: 0 auto;
        margin-top: 18px;
    }
}
.section-process {
    display: flex;
    height: 600px;
    background-color: #ffffff;
    .section-process__content {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin: 0 auto;
        width: 1110px;
        height: 470px;
        margin-top: 65px;
    }
    .section-process__information {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 435px;
        height: 100%;
    }
    .section-process__images {
        display: flex;
        width: 635px;
        height: 423px;
    }
    .section-process__subtitle {
        color: $color4;
        font-family: 'Oswald', sans-serif;
        @include font(400, 12px, 50px)
    }
    .section-process__title {
        font-family: 'Oswald', sans-serif;
        @include font(400, 40px, 50px)
    }
    .section-process__card {
        display: flex;
        align-items: center;
        width: 435px;
        height: 58px;
        background-color: $color1;
        border-radius: 8px;
    }
    .section-process__unfolded {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 435px;
        height: 134px;
        background-color: $color1;
        border-radius: 8px;
    }
    .section-process__card-number-one {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: #f3e0ff;
        color: #9443ca;
        border-radius: 6px;
        margin: 0 15px 0 15px;
    }
    .section-process__unfolded-title {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .section-process__card-number-two {
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        background-color: #e6eafe;
        color: #636eff;
        border-radius: 6px;
        margin: 0 15px 0 15px;
    }
    .section-process__card-number-third {
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        background-color: #ffdecc;
        color: #ff5c01;
        border-radius: 6px;
        margin: 0 15px 0 15px;
    }
    .section-process__card-text {
        font-family: 'Open Sans', sans-serif;
        @include font(600, 16px, 50px)
    }
    .section-process__icon-one {
        margin-left: 200px;
    }
    .section-process__icon-two {
        margin-left: 197px;
    }
    .section-process__icon-third {
        margin-left: 260px;
    }
    .section-process__text {
        font-family: 'Open Sans', sans-serif;
        @include font(400, 12px, 22px);
        color: $color5;
        width: 435px;
        display: flex;
        margin-left: 15px;
    }
    .section-process__image {
        border-radius: 20px;
    }
}
.section-advantages {
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    .section-advantages__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 1140px;
        height: 431px;
        margin: 0 auto;
        margin-top: 84.5px;
    }
    .section-advantages__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 543px;
        height: 120px;
    }
    .section-advantages__header-title {
        font-family: 'Oswald', sans-serif;
        @include font(400, 40px, 50px);
    }
    .section-advantages__header-subtitle {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        @include font(400, 14px, 24px);
        color: $color5;
    }
    .section-advantages__cards {
        display: flex;
        justify-content: space-between;
        align-items: end;
        height: 274px;
        width: 1140px;
    }
    .section-advantages__card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 350px;
        height: 254px;
        box-shadow: 1px 1px 20px 0px rgba(128, 128, 128, 0.1);
        border-radius: 20px;
    }
    .section-advantages__card-selected {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 350px;
        height: 254px;
        background-color: #f9faff;
        box-shadow: 1px 1px 20px 0px rgba(128, 128, 128, 0.1);
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .section-advantages__icon {
        width: 34.41px;
        height: 34.41px;
    }
    .section-advantages__icon-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6156dd;
        border-radius: 7px;
        width: 60px;
        height: 60px;
    }
    .section-advantages__icon-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background-color: #ef6111;
        border-radius: 7px;
    }
    .section-advantages__icon-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background-color: #a73fed;
        border-radius: 7px;
    }
    .section-advantages__card-title {
        font-family: 'Open Sans', sans-serif;
        @include font(600, 20px, 30px);
    }
    .section-advantages__card-subtitle {
        font-family: 'Open Sans', sans-serif;
        @include font(400, 14px, 22px);
        color: $color5;
    }
    .section-advantages__card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 276px;
        height: 179px;
        margin: 0 auto;
    }
}
.section-jobs {
    display: flex;
    height: 1000px;
    background-color: #ffffff;
    .section-jobs__content {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 1461px;
        height: 787px;
        margin-top: 106.5px;
    }
    .section-jobs__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 543px;
        height: 117px;
    }
    .section-jobs__header-title {
        font-family: 'Oswald', sans-serif;
        @include font(400, 40px, 50px);
    }
    .section-jobs__header-subtitle {
        font-family: 'Open Sans', sans-serif;
        @include font(400, 14px, 24px);
        color: $color5;
        text-align: center;
    }
    .section-jobs__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .section-jobs__buttons {
        display: flex;
        justify-content: space-between;
        width: 140px;
    }
    .section-jobs__card-selected {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f9faff;
        width: 380px;
        height: 465px;
        box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .section-jobs__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f9faff;
        width: 380px;
        height: 465px;
        box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
        border-radius: 20px;
        background-color: #ffffff;
    }
    .section-jobs__card-options {
        display: flex;
        padding-left: 250px;
        height: 10px;
    }
    .section-jobs__card-options-tab {
        text-decoration: none;
        color: $color2;
        font-size: 40px;
    }
    .section-jobs__card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 230px;
        height: 371px;
    }
    .section-jobs__initials {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }
    .section-jobs__initials-title {
        font-family: 'Open Sans', sans-serif;
        @include font(400, 20px, 50px);
    }
    .section-jobs__initials-subtitle {
        font-family: 'Open Sans', sans-serif;
        @include font(400, 14px, 22px);
        color: #4238af;
    }
    .section-jobs__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 230px;
        height: 60px;
    }
    .section-jobs__info-salary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .section-jobs__info-text {
        font-family: 'Open Sans', sans-serif;
        @include font(400, 16px, 50px)
    }
    .section-jobs__info-location {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .section-jobs__info-text-details {
        color: $color5;
        font-family: 'Open Sans', sans-serif;
        @include font(400, 14px, 50px)
    }
    .section-jobs__tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 230px;
        height: 49px;
    }
    .section-jobs__tab-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 152px;
        height: 49px;
        background-color: #bdbbd9;
        border-radius: 47px;
        text-decoration: none;
        color: #544cac;
        font-family: 'Open Sans';
        @include font(400, 16px, 62px);
        transition: background-color 0.3s;
    }
    .section-jobs__tab-right:hover {
        background-color: #544cac;
        color: #ffffff;
    }
    .section-jobs__action {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 152px;
        height: 49px;
        background-color: #544cac;
        border-radius: 47px;
        text-decoration: none;
        color: #ffffff;
        font-family: 'Open Sans';
        @include font(400, 16px, 62px);
    }
    .section-jobs__card:last-child {
        overflow: hidden;
    }
}